.dia {
  width: 277px;
  height: 19px;
  left: 19px;
  top: 208px;
  font-weight: bold;
  font-size: 10px;
  line-height: 19px;
  color: #616ee4;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  background: #e5e5e5;
}
