@use 'src/styles/colors';

.dia {
  width: 100%;
  height: 19px;
  left: 19px;
  top: 208px;
  font-weight: bold;
  font-size: 10px;
  line-height: 19px;
  color: colors.$purple;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  background: colors.$background-white;
}
