#face-scale-screen {
  .pain-faces {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
  }

  footer p {
    font-size: 9px;
    margin-top: 60px;
    text-align: center;
  }
}
