@font-face{
  font-family: "Roboto Medium";
  src: url("/fonts/Roboto/roboto-medium.woff2") format("woff2");
}
@font-face{
  font-family: "Roboto Bold";
  src: url("/fonts/Roboto/roboto-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Roboto Regular";
  src: url("/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
