@use 'src/styles/colors';

.legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: colors.$off-white;
  text-align: center;
}

.dolor-legend {
  background: colors.$water-green;
}

.cansancio-legend {
  background: colors.$purple;
}

.apetito-legend {
  background: colors.$yellow;
}

.nauseas-legend {
  background: colors.$blue;
}

.tragar-legend {
  background: colors.$pink;
}

.aire-legend {
  background: colors.$light-green;
}

.deposicion-legend {
  background: colors.$orange;
}

.fiebre-legend {
  background: colors.$light-blue;
}
