.legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
}
.dolor-legend {
  background: #00afa2;
}
.cansancio-legend {
  background: #616ee4;
}
.apetito-legend {
  background: #ffca2a;
}
.nauseas-legend {
  background: #163eb3;
}
.tragar-legend {
  background: #e63e6c;
}
.aire-legend {
  background: #b3cf71;
}
.constipacion-legend {
  background: #ee7342;
}
.fiebre-legend {
  background: #168db3;
}
