.dolor_legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #00afa2;
}
.cansancio_legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #616ee4;
}
.apetito_legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #ffca2a;
}
.nauseas_legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #163eb3;
}
.tragar_legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #e63e6c;
}
.aire_legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #b3cf71;
}
.constipacion_legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #ee7342;
}
.fiebre_legend {
  width: 8px;
  height: 8px;
  line-height: 10px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #168db3;
}
