@import 'src/styles/colors';

#user-management {
  margin-top: 27px;
  header {
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 3px;
      font-size: 18px;
      color: $grey;
    }

    a {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;

      img {
        width: 17px;
      }
    }
  }
}
