@use 'src/styles/colors';

#user-management {
  margin-top: 27px;

  header {
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 3px;
      font-size: 18px;
      color: colors.$grey;
    }

    a {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;

      img {
        width: 17px;
      }
    }
  }
  .user-list {
    width: 100%;
    margin-top: 16px;
    thead {
      background: colors.$whisper-grey;
      th {
        padding: 10px;
        color: colors.$slate-blue;
        text-align: left;
        font-size: 12px;
        font-weight: normal;
      }
    }
    tbody {
      td {
        .user-status {
          margin-left: 17px;
          width: 13px;
          height: 13px;
          line-height: 10px;
          border-radius: 50%;
          &.active {
            background: colors.$light-green;
          }
          &.inactive {
            background: colors.$red;
          }
        }
        .role {
          color: colors.$dark-grey;
          font-size: 10px;
          text-transform: capitalize;
        }
        .bottom-row {
          height: 1.43px;
          background: colors.$whisper-grey;
        }
      }
    }
  }
}
