$white: #ffffff;
$grey: #2d3748;
$purple: #616ee4;
$yellow: #ffca2a;
$blue: #163eb3;
$pink: #e63e6c;
$orange: #ee7342;
$red: #d44c46;

$light-grey: #676767;
$water-green: #00afa2;
$light-green: #b3cf71;
$light-blue: #168db3;

$off-white: #e3e8ef;
$background-white: #e5e5e5;

$dark-green: #03877d;
$pale-turquoise: #c7eae8;
$dark-purple: #6a5eda;

$google-blue: #4285f4;
