@use 'src/styles/colors';

#login {
  margin: auto;
  width: 220px;

  header {
    margin-bottom: 150px;
    display: grid;
    grid-template:
      'heart-logo sayu-description'
      'heart-logo sayu-logo'/70px auto;

    .heartLogo {
      grid-area: heart-logo;
    }

    .sayuDescription {
      grid-area: sayu-description;
      text-transform: uppercase;
      color: colors.$yellow;
      margin-top: 3px;
      font-weight: bolder;
      font-size: 8.7px;
    }

    .sayuLogo {
      grid-area: sayu-logo;
      width: 130px;
    }
  }
}
