.face-button {
  display: flex;
  flex-direction: column;
  width: 60px;

  .face-level {
    width: 40px;
    max-width: none;
    margin: 0 auto;
  }

  .number {
    text-align: center;
    font-weight: bolder;
    margin: 5px 0;
  }

  .description {
    font-size: 10px;
    text-align: center;
  }
}
