@use 'src/styles/colors';

.button-link {
  display: inline-flex;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  font-size: 16px;
  font-weight: 600;
  background-color: colors.$water-green;
  color: colors.$white;

  &:hover {
    background-color: colors.$dark-green;
  }

  &.secondary {
    background-color: colors.$white;
    color: colors.$water-green;
    border: 2px solid colors.$water-green;

    &:hover {
      background-color: colors.$dark-green;
      color: colors.$white;
    }
  }
}
