.dolor_value {
  width: 21px;
  height: 21px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #00afa2;
}
.cansancio_value {
  width: 21px;
  height: 21px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #616ee4;
}
.apetito_value {
  width: 21px;
  height: 21px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #ffca2a;
}
.nauseas_value {
  width: 21px;
  height: 21px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #163eb3;
}
.tragar_value {
  width: 21px;
  height: 21px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #e63e6c;
}
.aire_value {
  width: 21px;
  height: 21px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #b3cf71;
}
.deposicion_value {
  width: 21px;
  height: 21px;
  line-height: 22px;
  border-radius: 50%;
  font-size: 7px;
  color: #fff;
  text-align: center;
  background: #ee7342;
}
.fiebre_value {
  width: 21px;
  height: 21px;
  line-height: 22px;
  border-radius: 50%;
  font-size: 7px;
  color: #fff;
  text-align: center;
  background: #168db3;
}
