@use 'src/styles/colors';

.symptom-list {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;

  &.with-rescue {
    background: colors.$pale-turquoise;
  }

  .symptom-circle {
    width: 21px;
    height: 21px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 10px;
    color: colors.$white;
    text-align: center;
    margin: 3px 1px 1px 1px;
  }

  .dolor-value {
    background: colors.$water-green;
  }

  .cansancio-value {
    background: colors.$purple;
  }

  .apetito-value {
    background: colors.$yellow;
  }

  .nauseas-value {
    background: colors.$blue;
  }

  .tragar-value {
    background: colors.$pink;
  }

  .aire-value {
    background: colors.$light-green;
  }

  .deposicion-value {
    background: colors.$orange;
  }

  .fiebre-value {
    background: colors.$light-blue;
  }
}
