.header {
  display: flex;
  justify-content: space-between;

  .logout-button {
    align-self: center;
    display: flex;

    img {
      width: 21px;
      border-radius: 11px;
    }

    a {
      color: #6a5eda;
      margin-left: 2px;
      align-self: center;
    }
  }
  .logo-section {
    display: flex;
    height: 30px;

    .heart-logo {
      width: 27px;
      margin-right: 5px;
    }
    .sayu-logo {
      width: 65px;
      margin-top: 5px;
    }
  }
}
