@use 'src/styles/colors';

$img-size: 21px;

.header {
  display: flex;
  justify-content: space-between;

  .logo-section {
    display: flex;
    height: 30px;

    .heart-logo {
      width: 27px;
      margin-right: 5px;
    }

    .sayu-logo {
      width: 65px;
      margin-top: 5px;
    }
  }

  .logout-button {
    align-self: center;
    display: flex;

    img {
      width: $img-size;
      height: $img-size;
      border-radius: 11px;
    }

    a {
      color: colors.$dark-purple;
      margin-left: 2px;
      align-self: center;
    }
  }
}

.actions {
  width: 100%;

  div:nth-child(2) {
    margin-top: 3px;
  }
}
